{% extends 'website/base.html' %}
{% load static %}

{% block title %}Elenco - Moranguinho{% endblock %}
{% block body_class %}elenco{% endblock %}

{% block content %}

<div class="elenco-titulo">Elenco</div>

<!-- Galeria de personagens -->
<div class="container mt-3">
  <div class="row">
    {% for p in personagens %}
      <div class="col-md-4">
        <div class="character-card">
          <img src="{% static p.imagem %}" alt="{{ p.nome }}">
          <div class="character-name">{{ p.nome }}</div>
          <div class="character-info text-start mt-2">
            <p><strong>Fruta:</strong> {{ p.fruta }}</p>
            <p><strong>Cor favorita:</strong> {{ p.cor }}</p>
            <p><strong>Descrição:</strong> {{ p.descricao }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

