{% extends 'website/base.html' %}
{% load static %}

{% block title %}Início - Moranguinho{% endblock %}
{% block body_class %}{% endblock %}

{% block content %}

<main class="home-section d-flex align-items-center">
  <div class="container-fluid">
    <div class="row align-items-center">
      
      <div class="col-md-6 texto-area">
        <h2 class="bem-vindo">Bem-vindos ao Mundo da Moranguinho!</h2>
        <p class="descricao">
          Oi, amiguinhos! <br>
          Aqui é o lugar mais doce da internet! Conheça a Moranguinho e todos os seus amigos cheios de amor, alegria e aventuras frutadas.
        </p>
         <a href={% url 'sobre' %} class="saiba">Saiba Mais</a>

      </div>
       
      
      <div class="col-md-6 p-0">
        <img src="{% static 'website/img/capa.jpg' %}" alt="Moranguinho" class="w-100 h-100" style="object-fit: cover;">
      </div>
    </div>
  </div>
</main>
<div class="container novidades-container mt-4 mb-5">
  <h2 class="novidades-titulo">NOVIDADES</h2>
  <div class="row justify-content-center g-4">
    
{% for n in novidades %}
<div class="col-md-4">
  <div class="card-novidade">
    <img src="{% static n.imagem %}" alt="{{ n.titulo }}" class="img-fluid rounded">
    <h5><strong>{{ n.titulo }}</strong></h5>
    <p>{{ n.conteudo }}</p>
    <a href="{{n.link}}" class="btn-saiba">SAIBA MAIS</a> 
  </div>
</div>
{% endfor %}
  </div>
</div>
{% endblock %}
