{% extends 'website/base.html' %}
{% load static %}

{% block title %}Sobre - Moranguinho{% endblock %}
{% block body_class %}{% endblock %}

{% block content %}
<div class="sobre-titulo">Sobre</div>

<!-- Seção 1 - Texto esquerda, imagem direita -->
<section class="bg-rosa">
  <div class="texto">
    <h3>{{ secao1.titulo }}</h3>
    <p>{{ secao1.conteudo }}</p>
  </div>
  <div class="img-container">
    <img src="{% static secao1.imagem %}" alt="Imagem seção 1">
  </div>
</section>

<!-- Seção 2 - Imagem esquerda, texto direita -->
<section class="bg-rosa">
  <div class="img-container">
    <img src="{% static secao2.imagem %}" alt="Imagem seção 2">
  </div>
  <div class="texto">
    <h3>{{ secao2.titulo }}</h3>
    <p>{{ secao2.conteudo }}</p>
  </div>
</section>

<!-- Seção 3 - Texto esquerda, imagem direita -->
<section class="bg-rosa">
  <div class="texto">
    <h3>{{ secao3.titulo }}</h3>
    <p>{{ secao3.conteudo }}</p>
  </div>
  <div class="img-container">
    <img src="{% static secao3.imagem %}" alt="Imagem seção 1">
  </div>
</section>
{% endblock %}